<html>
    <style>
        #footer {
            position:absolute;
            bottom:0;
            width:100%;
            height:100px;   
            
            }
    </style>
    <body font="Monaco">
    <div id="footer">
    <center><b>CDU IT CodeFair 2022</b><br>
        test
    </center>
    </div>
    </body>

</html>
