<html>
    <style>
        #footer {
            position:absolute;
            bottom:0;
            width:100%;
            height:100px;   
            
            }
    </style>
    <div id="footer">
    <center><b><a href="https://itcodefair.cdu.edu.au/">CDU IT CodeFair 2022</a></b><br>
        Developed by Piyush Adhikari as the project for HIT401 Capstone Project<br>
        Charles Darwin University
    </center>
    </div>

</html>