<%- include('_header'); -%>
<style>
    body {
      background-image: url('codefair.jpeg');
    }
</style>
<body>
<body>
    <center>
    <h1>
    <form action="result" method="POST">
        <label>Your name</label><br>
        <input type="text" name="name" value="<%= info.name %>"><br>
        <label>Your number</label><br>
        <input type="text" name="num" value="<%= info.number %>"><br>
        <label>Enter OTP</label><br>
        <input type="text" name="otp"><br>
        <br>
        <button type="submit">Verify</button>
    </form>
    </h1>


    </center>
</body>
<%- include ('_footer'); -%>