<<<<<<< HEAD
<%- include('_header'); -%>
<html>

<body>
<center>
<h1>
<form action="confirm" method="POST">
    <label>Enter your name</label><br>
    <br>
    <input type="text" name="name"><br>
    <br>
    <label>Enter your phone number</label><br>
    <br>
    <input type="text" name="number"><br>
    <br>
   
    <button type="submit">Send OTP</button>
</form>



</h1>
</center>
</body>
</html>
=======
<%- include('_header'); -%>
<html>
<style>
    body {
      background-image: url('codefair.jpg');
    }
</style>
<body>
<center>
<h1>
<form action="confirm" method="POST">
    <label>Enter your name</label><br>
    <br>
    <input type="text" name="name"><br>
    <br>
    <label>Enter your phone number</label><br>
    <br>
    <input type="text" name="number"><br>
    <br>
   
    <button type="submit">Send OTP</button>
</form>



</h1>
</center>
</body>
</html>
>>>>>>> df7f9f9ed2231ae39ea684d1551ae673f527f383
<%- include ('_footer'); -%>