<%- include('_header'); -%>
<body>
    <center>
        <h1>
            Dear <%= info.name %>,<br>You have been registered with <%= info.num %>.<br>
            You may now proceed to vote for the right project.
        
        
        </h1>
    </center>
</body>
<%- include ('_footer'); -%>