<%- include('_header'); -%>
<head>
    <meta http-equiv="refresh" content="4; URL = https://itcodefairjudge.spinetail.cdu.edu.au/" />
</head>
<body>
    <center>
        <h1>
            Dear <%= info.name %>,<br>You have been registered with <%= info.num %>.<br>
            You are now being redirected to projects directory.....
        
        
        </h1>
    </center>
</body>
<%- include ('_footer'); -%>